<div class="add-topic">
    <h2>Add Topic</h2>
    <form role="form">
        <div class="form-group">
            <label for="topic-name">Name of the Topic</label>
            <input type="text" class="form-control"  ng-model="topicName" >
        </div>
        <div class="form-group">
            <label for="parent-topic-name">Select parent topic</label>
            <div class="btn-group btn-block" ng-class="{'open':openClass}" ng-controller="dropdownController">
                <input type="text" class="form-control" ng-model="topictext" 
                       ng-change="openDropdown()">
                <span class="glyphicon glyphicon-chevron-down form-control-feedback" ng-click="toggleDropdown()"></span>
                <ul class="dropdown-menu" role="menu">
                    <li  ng-repeat="topic in topics | filter:{text: topictext}">
                        <a href="#" ng-click="closeDropdown(); selectTopic(); ">{{topic.text}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <button class="btn btn-default" ng-click="createTopic(); doNothing();">Add this topic</button>
    </form>
</div>