<div class="add-level">
    <h2>Add Level</h2>
    <form role="form">
        <div class="form-group">
            <label for="level-name">Level title</label>
            <input type="text" class="form-control" ng-model="level.text" placeholder="Enter level title...">
        </div>
        <div class="form-group">
            <label for="level-name">Experience in months</label>
            <input type="text" class="form-control" ng-model="level.experience" placeholder="Enter experience...">
        </div>
        <div class="form-group">
            <label for="level-name">Correct answer weightage</label>
            <input type="text" class="form-control" ng-model="level.correct" placeholder="Enter weightage...">
        </div>
        <div class="form-group">
            <label for="level-name">Wrong answer weightage</label>
            <input type="text" class="form-control" ng-model="level.wrong" placeholder="Enter weightage...">
        </div>
        
        <button ng-click="createLevel(); doNothing();" class="btn btn-default">Add this level</button>
    </form>
</div>