<div class="create-exam">
    <h2>Create Exam</h2>
    <form role="form">
        <div class="form-group">
            <label for="level-name">Name of exam</label>
            <input type="text" class="form-control" ng-model="exam.name">
        </div>
        <div class="form-group">
            <label for="level-name">Experience in months</label>
            <input type="text" class="form-control" ng-model="exam.experience">
        </div>
        <div class="form-group">
            <label for="level-name">Total number of questions</label>
            <input type="text" class="form-control" ng-model="exam.questionsCount">
        </div>
        <div class="form-group">
            <label for="level-name">Duration in min</label>
            <input type="text" class="form-control" ng-model="exam.duration">
        </div>
        <div class="form-group">
            <label for="level-name">Candidates designation</label>
            <input type="text" class="form-control" ng-model="exam.designation">
        </div>
        <div class="form-group">
            <label for="level-name">Total marks</label>
            <input type="text" class="form-control" ng-model="exam.marks">
        </div>
        <div class="form-group">
            <label for="level-name">Qualifying cutoff marks</label>
            <input type="text" class="form-control" ng-model="exam.cutoff">
        </div>
        <div class="form-group">
            <label class="control-label">Apply negative marking?</label>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="exam.negativeMarking">
                    <span ng-if="exam.negativeMarking">Yes</span>
                    <span ng-if="!exam.negativeMarking">No</span>
                </label>
            </div>
        </div>
        <?php
            include('html\exam_parameters_details.html');
        ?>
        <button class="btn btn-default" ng-click="submit()">Create exam</button>
    </form>
</div>