<div class="list-group">
<!--    <li class="list-group-item active">Exam Details</li>-->

    <li class="list-group-item"  ng-if="scenarios!=[]">
        <div class="inline-block" ng-class="{ hide: hours<1 }"><h1>{{hours}}</h1><h4>hrs.</h4></div>
        <div class="inline-block" ng-class="{ hide: minutes<1 }"><h1>{{minutes}}</h1><h4>min.</h4></div>
        <div class="inline-block" ng-class="{ hide: seconds<1 }"><h1>{{seconds}}</h1><h4>sec.</h4></div>
        <div class="inline-block"
             ng-class="{ hide: !(seconds<1 && minutes<1 && hours<1) }">
            <h1>Exam is over</h1>
        </div>
    </li>

    <a href="#" class="list-group-item"
       ng-repeat="(scenarioId, scenario) in scenarios"
       ng-init="scenarioInit()"
       ng-click="clickScenario()">
        <h4 class="list-group-item-heading">Scenario {{scenario.number}}</h4>
        <div class="btn-group">
            <button type="button"
                    class="btn btn-default"
                    ng-class="question.status"
                    ng-repeat="(questionId, question) in scenario.questions"
                    ng-init="questionInit()"
                    ng-click="clickQuestion()">
                Q{{question.number}}</button>
        </div>
    </a>

    <li class="list-group-item" ng-if="scenarios!=[]"><button class="btn btn-default" ng-click="submitConfirm()">Submit</button></li>
    <li class="list-group-item" ng-class="{ 'hide' : !isWebCamRequired }">
        <div id="container">

            <video autoplay="true" id="videoElement">
            </video>
<!--            <canvas id="canvas" width="1280" height="720" style="border:1px solid #d3d3d3; display:none"></canvas>-->
            <canvas id="canvas" style="border:1px solid #d3d3d3;width:100%;display:none"></canvas><br>
<!--            <button onclick="snapshot()">Take Picture</button>-->

        </div>
    </li>
</div>
