<!-- Small modal -->
<div class="modal fade" tabindex="-1" 
     role="dialog" aria-labelledby="myModalLabel" 
     aria-hidden="true" id="paper-error">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" >
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Hi</h4>
            </div>
            <div class="modal-body">
                Your exam is either done or being attempted. Please close this tab.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" 
     role="dialog" aria-labelledby="myModalLabel" 
     aria-hidden="true" id="submit-confirm">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Confirm submit</h4>
            </div>
            <div class="modal-body">
                Do you really wanna submit?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="submit()">Yes</button>
                <a data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" 
     role="dialog" aria-labelledby="myModalLabel" 
     aria-hidden="true" id="show-result">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" >
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Your result</h4>
            </div>
            <div class="modal-body">
                <h4 class="text-success text-center" ng-if="results.is_passed=='true'">Passed</h4>
                <h4 class="text-danger text-center" ng-if="results.is_passed=='false'">Failed</h4>
                <div class="text-center">Marks obtained: <strong id="marks-container"></strong></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="reload()">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" 
     role="dialog" aria-labelledby="myModalLabel" 
     aria-hidden="true" id="warning-focusout">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" >
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Warning!</h4>
            </div>
            <div class="modal-body">
                Please do not open other windows!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" 
     role="dialog" aria-labelledby="myModalLabel" 
     aria-hidden="true" id="loader">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" >
            <div class="modal-body">
                <h4 class="modal-title" id="myModalLabel">{{loaderText}}</h4>
            </div>
        </div>
    </div>
</div>

